body{
        background-image:url("https://media.giphy.com/media/2zoCrihrueMUVOZlTx/giphy.gif");
        background-size: cover;
        background-repeat: no-repeat;
        font-family: 'Press Start 2P', cursive;
        margin: 3%;
}


div{
    padding: 1%;    
    font-size: 400%;
    font-weight: bold;
    text-align: center;
}